@import '../../stylesheets/styles.scss';

.Portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  font-size: 1rem;
  margin: 2em auto 1em;
  max-width: 100%;
  width: 70em;

  img {
    height: 175px;
    width: 175px;
  }
}

.Portfolio__card {
  align-items: center;
  background-color: darken($background-color, 1%);
  box-shadow: 1px 1px 4px darken($blue, 15%);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  margin: 1.5em;
  padding: 1em;
  width: 20em;
  text-align: justify;

  a {
    background-color: $blue;
    border-radius: 4px;
    color: white;
    margin: 0.5em 0;
    min-width: 5em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background-color: orange;
      color: inherit;
    }

    &:first-of-type {
      margin-top: 1em;
    }

    &:last-of-type {
      margin-bottom: 1em;
    }
  }

  figure {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 17em;
  }

  figcaption {
    color: $text-color;
    font: {
      size: 1.2rem;
      weight: bold;
    }
    margin: 0.5rem 0 1rem;
    text-align: center;
  }

  p {
    margin: 0.5em 0;
  }
}
