@import '../../stylesheets/variables.scss';

.Portfolio {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex: 1;
  font-size: 1rem;
  margin: 0 auto 1em;
  max-width: 100%;
  width: 70em;
}

.Portfolio__card {
  align-items: center;
  background-color: darken($background-color, 1%);
  box-shadow: 1px 1px 4px $text-color;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
  justify-content: space-between;
  margin: 1em;
  padding: 1em;
  width: 20em;
  text-align: center;

  a {
    background-color: $blue;
    border-radius: 4px;
    color: white;
    margin: 0.5em 0;
    min-width: 5em;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s;

    &:hover {
      background-color: orange;
      color: inherit;
    }

    &:first-of-type {
      margin-right: 2em;
    }
  }

  h2 {
    color: $blue;
  }

  p {
    margin: 0.7em 0;
    text-align: justify;
  }
}


.Portfolio__links {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  margin-top: auto;
  width: 100%;
}

.Portfolio__tag {
  background-color: lighten($blue, 30%);
  color: darken($blue, 35%);
  margin: 0 0.5em;
  padding: 0.3em;
  transition: background-color 0.3s;

  &:hover {
    background-color: lighten($blue, 20%);
  }
}


.Portfolio__title {
  font-size: 1rem;
  margin: 2em 0 1em 0.5em;
  width: 100%;

  @media (min-width: 31.25em) {
    margin-left: 1em;
  }

  @media (min-width: 45em) {
    margin-left: 2em;
  }

  @media (min-width: 67.5em) {
    margin-left: 2.5em;
  }

  h1 {
    color: $blue;
    font-size: 2.5em;
    margin: 0;

    @media (min-width: 31.25em) {
      font-size: 3em;
    }

    @media (min-width: 45em) {
      font-size: 3.5em;
    }

    @media (min-width: 67.5em) {
      font-size: 4em;
    }
  }
}
