/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.App {
  color: #333;
  display: flex;
  height: 100vh;
  flex-direction: column; }
