/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.About {
  align-items: center;
  display: flex;
  flex: 1;
  font-size: 1rem;
  justify-content: center;
  width: 100%; }
  .About a {
    color: #368DDE;
    text-decoration: none;
    transition: color 0.2s; }
    .About a:hover {
      color: inherit; }
  .About h1 {
    color: #368DDE;
    font-size: 2.5em;
    margin-bottom: 0.3em;
    margin-top: 0; }
    @media (min-width: 31.25em) {
      .About h1 {
        font-size: 3em; } }
    @media (min-width: 45em) {
      .About h1 {
        font-size: 3.5em; } }
    @media (min-width: 67.5em) {
      .About h1 {
        font-size: 4em; } }
  .About p {
    line-height: 1.7em;
    margin: 0;
    padding: 1em 0;
    padding-right: 1em;
    text-align: justify; }

.About__content {
  margin: 1em 0.5em 0.5em 0.5em;
  max-width: 52em;
  padding-bottom: 2em; }
  @media (min-width: 500px) {
    .About__content {
      margin: 1em 0.5em 1em 1em; } }
  @media (min-width: 45em) {
    .About__content {
      margin: 2em 0.5em 2em 2em; } }
  @media (min-width: 55em) {
    .About__content {
      margin-right: auto; } }
  @media (min-width: 67.5em) {
    .About__content {
      margin: 3em auto 3.5em 2.5em; } }

.About__highlight {
  background-color: #d8e9f9;
  padding: 0.1em;
  transition: background-color 0.3s; }
  .About__highlight:hover {
    background-color: #b9d8f4; }

.About .About__resume {
  background-color: #368DDE;
  color: #eee;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 1.2em 0;
  padding: 0.5em;
  transition: all 0.3s; }
  .About .About__resume:hover {
    background-color: #559ee3;
    color: white; }
