/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/

$background-color: #f9f9f9;
$text-color: #333;
$primary-teal: #2b9f8f;
