/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/

$green: #7AA84E;
$yellow: #E9D52E;
$black: #232B2E;
$red: #991324;
$blue: #368DDE;
$white: #F1F1F6;
