/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.Navbar {
  align-items: center;
  box-shadow: 0 0 1px #333;
  color: #333;
  display: flex;
  justify-content: space-between; }

.Navbar__right {
  display: flex;
  flex: 1;
  justify-content: flex-end; }
  .Navbar__right button {
    background-color: inherit;
    border: none;
    color: inherit;
    font-size: 1rem;
    padding: 1em 0.3em;
    min-width: 5em;
    text-transform: capitalize; }
    @media (min-width: 24em) {
      .Navbar__right button {
        font-size: 1.1rem;
        margin: 0 0.3em; } }
    @media (min-width: 35em) {
      .Navbar__right button {
        font-size: 1.2rem;
        margin: 0 1em; } }
    @media (min-width: 45em) {
      .Navbar__right button {
        margin: 0 2em; } }
    .Navbar__right button:hover {
      color: #368DDE;
      cursor: pointer;
      transition: all 0.3s; }

.Navbar__left {
  fill: #368DDE;
  height: 60px;
  margin: 0.5em 0 0.5em 0.5em;
  width: 60px; }
  @media (min-width: 500px) {
    .Navbar__left {
      margin: 1em 0 1em 1em; } }
  @media (min-width: 45em) {
    .Navbar__left {
      height: 75px;
      margin: 2em 0 2em 2em;
      width: 75px; } }
  @media (min-width: 67.5em) {
    .Navbar__left {
      height: 100px;
      margin: 2.5em 0 2.5em 2.5em;
      width: 100px; } }
