/***********************************************************************
* File that contains variables that components van utilize.
*
* Here's an example of the Navbar.scss file importing this file:
* @import "../../stylesheets/variables.scss";
***********************************************************************/
.Navbar {
  align-items: center;
  color: #333;
  display: flex;
  justify-content: space-between; }

.Navbar__right {
  display: flex;
  flex: 1;
  justify-content: flex-end; }
  .Navbar__right button {
    background-color: inherit;
    border: none;
    font-size: 1rem;
    padding: 1em 0.3em;
    min-width: 5em;
    text-transform: capitalize; }
    @media (min-width: 24em) {
      .Navbar__right button {
        font-size: 1.1rem;
        margin: 0 0.3em; } }
    @media (min-width: 35em) {
      .Navbar__right button {
        font-size: 1.2rem;
        margin: 0 1em; } }
    @media (min-width: 45em) {
      .Navbar__right button {
        margin: 0 2em; } }
    .Navbar__right button:hover {
      color: #2b9f8f;
      cursor: pointer;
      transition: all 0.3s; }

.Navbar__left {
  fill: #2b9f8f;
  height: 60px;
  margin: 0.5rem 0 0.5rem 0.5rem;
  width: 60px; }
  @media (min-width: 500px) {
    .Navbar__left {
      margin: 1rem 0 1rem 1rem; } }
